body {
  margin: 0;
}

h1 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.info {
  margin-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.colour-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.colour-box {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 480px;
}

.hex-text {
  align-self: flex-end;
  font-size: 25px;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
}
